{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@vue/babel-plugin-jsx", { "transformOn" : false, "mergeProps" : true, "enableObjectSlots": true }],
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-transform-typescript",
            {
              "isTSX": true,
              "allowNamespace": true
            }
        ]
    ]
}